.btn {
  text-transform: uppercase;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 55px;
  padding-right: 33px;
  background: linear-gradient(180deg, var(--yellow-dark) 0%, var(--yellow) 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), inset 0px 1px 0px rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  width: auto;
  cursor: pointer;
  outline: none;
  transition: all 400ms cubic-bezier(.19,1,.22,1);
}

.btn:hover {
  background: linear-gradient(180deg, var(--yellow-dark) 0%, var(--yellow-dark) 100%);
  padding-left: 30px;
  padding-right: 55px;
}

  .btn::before {
    background-image: url(../../../assets/images/icons/arrow-circle-down-solid.svg);
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    content: "";
    transition: all 400ms cubic-bezier(.19,1,.22,1);
  }

  .btn::after {
    background-image: url(../../../assets/images/icons/arrow-circle-down-solid.svg);
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-250%);
    width: 20px; 
    height: 20px;
    content: "";
    transition: all 400ms cubic-bezier(.19,1,.22,1);
  }

  .btn:hover::after {
    transform: translateY(-50%);
  }

  .btn:hover::before {
    transform: translateY(180%);
  }

@media (max-width: 480px) {
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    width: auto;
  }

  .btn::before {
    width: 17px; 
    height: 17px;
  }

  .btn::after {
    width: 17px; 
    height: 17px;
  }
}

@media (max-width: 380px) {
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 8px;
  }

  .btn:hover {
    padding-left: 8px;
    padding-right: 30px;
  }

  .btn::before {
    top: 50%;
    left: 8px;
  }

  .btn::after {
    top: 50%;
    right: 8px;
  }
}