/* Game list */
.game-list {
  background-image: url('../../images/background03.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

  .game-list__container {
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-column-gap: 10px;
    grid-row-gap: 42px;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
  }

@media (max-width: 480px) {
  .game-list__container {
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: 40% 40%;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
  }
}
